.formularioContainer{
	background-color: #b2331c;
	margin-top: 5%;
	padding-top: 3%;
	padding-right: 3%;
	padding-left: 22%;
	padding-bottom: 3%;
	font-size: 20px;
	margin-left: 3%;
	margin-right: 3%;

}